# XWINREG -- EXAMPLE CONF FILE
# Workarea is set manually.
# Frame has same size as workarea.
# Tmp File will be written to $HOME.

XWINREG_TMP_FILE=${HOME}/.xwinreg_default.tmp
#XWINREG_INPUT_FILE=

workarea_x=0
workarea_y=0
workarea_width=1680
workarea_height=1049

#frame_x=0
#frame_y=0
#frame_width=1280
#frame_height=800

# default numbers for grid layouting.
row_number=2
col_number=2

# default frame-aliases.
__xwr_xwinreg_calculate_calculating_frame_alias()
{
    declare -gA frames

    frames[northwest]="${workarea_x} ${workarea_y} $((workarea_w/2)) $((workarea_h/2))"
    frames[north]="${workarea_x} ${workarea_y} ${workarea_w} $((workarea_h/2))"
    frames[northeast]="$((workarea_x+workarea_w/2)) ${workarea_y} $((workarea_w/2)) $((workarea_h/2))"
    frames[east]="$((workarea_x+workarea_w/2)) ${workarea_y} $((workarea_w/2)) ${workarea_h}"
    frames[southeast]="$((workarea_x+workarea_w/2)) $((workarea_y+workarea_h/2)) $((workarea_w/2)) $((workarea_h/2))"
    frames[south]="${workarea_x} $((workarea_y+workarea_h/2)) ${workarea_w} $((workarea_h/2))"
    frames[southwest]="${workarea_x} $((workarea_y+workarea_h/2)) $((workarea_w/2)) $((workarea_h/2))"
    frames[west]="${workarea_x} ${workarea_y} $((workarea_w/2)) ${workarea_h}"
    frames[all]="${workarea_x} ${workarea_y} ${workarea_w} ${workarea_h}"
}

# To simplify matters, frames geo are aliased to x,y,w and h.
# default region-aliases.
__xwr_xwinreg_calculate_calculating_region_alias()
{
    declare -gA regions

    regions[northwest]="${x} ${y} $((w/2)) $((h/2))"
    regions[north]="${x} ${y} ${w} $((h/2))"
    regions[northeast]="$((x+w/2)) ${y} $((w/2)) $((h/2))"
    regions[east]="$((x+w/2)) ${y} $((w/2)) ${h}"
    regions[southeast]="$((x+w/2)) $((y+h/2)) $((w/2)) $((h/2))"
    regions[south]="${x} $((y+h/2)) ${w} $((h/2))"
    regions[southwest]="${x} $((y+h/2)) $((w/2)) $((h/2))"
    regions[west]="${x} ${y} $((w/2)) ${h}"
    regions[all]="${x} ${y} ${w} ${h}"
}
