# XWINREG -- EXAMPLE CONF FILE

# Tmp File will be written to $HOME.
# Workarea is set manually.
# Frame has same size as workarea.

# _xwinreg_options[foo]=bar: parsed before layouting

XWINREG_TMP_FILE=${HOME}/.xwinreg_default.tmp
#XWINREG_INPUT_FILE=

_xwinreg_options[workarea_x]=0
_xwinreg_options[workarea_y]=0
_xwinreg_options[workarea_w]=1690
_xwinreg_options[workarea_h]=1049

#_xwinreg_options[frame_x]=0
#_xwinreg_options[frame_y]=0
#_xwinreg_options[frame_w]=845
#_xwinreg_options[frame_h]=525

# Default numbers for grid layouting.
_xwinreg_options[row_number]=2
_xwinreg_options[col_number]=2

# __xwinreg_calculate_{frame,region}_alias: called in __xwinreg_calculate

# Default frame-aliases.
function __xwinreg_calculate_frame_alias
{
    frames[northwest]="${workarea_x} ${workarea_y} $((workarea_w/2)) $((workarea_h/2))"
    frames[north]="${workarea_x} ${workarea_y} ${workarea_w} $((workarea_h/2))"
    frames[northeast]="$((workarea_x+workarea_w/2)) ${workarea_y} $((workarea_w/2)) $((workarea_h/2))"
    frames[east]="$((workarea_x+workarea_w/2)) ${workarea_y} $((workarea_w/2)) ${workarea_h}"
    frames[southeast]="$((workarea_x+workarea_w/2)) $((workarea_y+workarea_h/2)) $((workarea_w/2)) $((workarea_h/2))"
    frames[south]="${workarea_x} $((workarea_y+workarea_h/2)) ${workarea_w} $((workarea_h/2))"
    frames[southwest]="${workarea_x} $((workarea_y+workarea_h/2)) $((workarea_w/2)) $((workarea_h/2))"
    frames[west]="${workarea_x} ${workarea_y} $((workarea_w/2)) ${workarea_h}"
    frames[all]="${workarea_x} ${workarea_y} ${workarea_w} ${workarea_h}"
}

# Default region-aliases.
# To simplify matters, frames geo are aliased to x,y,w and h.
function __xwinreg_calculate_region_alias
{
    regions[northwest]="${x} ${y} $((w/2)) $((h/2))"
    regions[north]="${x} ${y} ${w} $((h/2))"
    regions[northeast]="$((x+w/2)) ${y} $((w/2)) $((h/2))"
    regions[east]="$((x+w/2)) ${y} $((w/2)) ${h}"
    regions[southeast]="$((x+w/2)) $((y+h/2)) $((w/2)) $((h/2))"
    regions[south]="${x} $((y+h/2)) ${w} $((h/2))"
    regions[southwest]="${x} $((y+h/2)) $((w/2)) $((h/2))"
    regions[west]="${x} ${y} $((w/2)) ${h}"
    regions[all]="${x} ${y} ${w} ${h}"
}
